body {
    background-color: honeydew;
}

.super {
    box-sizing: border-box;
    font-family: fantasy;
    text-align: center;
    position: relative;
    background-color: darkgray;
    color: black;
    font-size: 16px;
    margin: 3px;
}

#create {
    color: #20bf6b !important;
    text-transform: uppercase;
    background: #cddcb4;
    padding: 6px;
    border: 3px solid #359462 !important;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}